# https://docs.npmjs.com/cli/v10/using-npm/config#engine-strict
# enforce the use of the node and pnpm versions specified in package.json
engine-strict=true

# https://pnpm.io/npmrc#resolution-mode
# dependencies will be resolved to their highest versions.
# this is the default value for pnpm v8.7+
resolution-mode=highest

# https://pnpm.io/npmrc#strict-peer-dependencies
# will fail if there is a missing or invalid peer dependency in the tree.
strict-peer-dependencies=true